<h1>Contact</h1>
<form class='col-xs-10 col-sm-6 col-md-5'>
  <div class='form-group form-group-lg'>
    {{input type="email" value=emailAddress class="form-control" placeholder="Please type your e-mail address" autofocus="autofocus"}}
  </div>
  <div class='form-group form-group-lg'>
    {{textarea value=textMessage class="form-control" placeholder="Your message here." rows=5}}
  </div>
  <button disabled={{isDisabled}} {{action 'sendMessage'}} class="btn btn-primary btn-lg">Send message</button>
  {{#if responseMessage}}
    <div class="alert alert-success">{{responseMessage}}</div>
  {{/if}}
</form>

